# Web Framework
flask==3.0.3
Werkzeug==2.3.8
flask-cors==5.0.0

# ASGI Server
uvicorn[standard]==0.30.6
asgiref==3.8.1

# WebSocket Support
flask-socketio==5.1.1
python-engineio==4.9.1
python-socketio==5.11.4
gevent-websocket==0.10.1
gevent==24.2.1
eventlet==0.36.1

# Database
mysql-connector-python==9.0.0

# Messaging
nats-py==2.9.0

# Asynchronous Programming
asyncio==3.4.3

# Environment Variables
python-dotenv==1.0.1

# Testing
pytest==8.3.2
pytest-flask==1.2.0
pytest-asyncio==0.24.0

# Linting and Type Checking
flake8==7.1.1
mypy==1.11.2

# Selenium (for web scraping)
selenium==4.24.0
